sa_key_file         = "C:/Users/<your-user>/.yc/sa-key.json"
cloud_id            = "<your-cloud-id>"
folder_id           = "<your-folder-id>"
zone                = "ru-central1-d"
project_name        = "lab04"
subnet_cidr         = "10.10.0.0/24"
image_family        = "ubuntu-2404-lts"
ssh_user            = "ubuntu"
ssh_public_key_path = "C:/Users/<your-user>/.ssh/your_key.pub"
my_ip_cidr          = "<your-public-ip>/32"
